*
{
    margin: 0px;
    padding: 0px;
}

.container
{
    display: block;
    background-image: url("image/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode:multiply ;
}
.item1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(24, 24, 24, 73);
    height: 80px;
}
.item2
{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 70px;
}
.item3
{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 70px;    
}

p
{
   font-family: sans-serif;
}

.text1
{
    font-size: 35px;
    color: white;
}
.text2
{
    font-size: 25px;
    margin-left: 10px;
    color: white;
}
.item4
{
    display: flex;
    flex-direction: column;
    height: 650px;
}
.item9
{
    margin: auto;
    text-align: center;
}
.text3
{
    font-size: 50px;
    font-weight: bold;
    color: whitesmoke;
}
.text4
{
    font-size: 25px;
    font-weight: bold;
    color: whitesmoke;
}
.button
{
   margin-top: 35px;
   background-color: rgba(0, 0, 0, 0.7);
   border-radius: 10px;
   margin-right: auto;
   margin-left: auto;
   width: 170px;
}
.textbutton
{
   font-size: 30px;
   color: white;
   padding-top: 10px;
   padding-bottom: 10px;
}

.text5
{
    text-align: center;
    margin-top: 25px;
    font-size: 50px;
    font-weight: bold;
}
.text6
{
    text-align: center;
    margin-top: 24px;
    margin-left: 50px;
    margin-right: 50px;
}
.contact
{
    margin-top: 150px;
    background-image: url("image/setup pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode:multiply ;
}
.item7
{
    padding: auto;
    padding-top: 100px;
    text-align: center;
}
.item8
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.img
{
    width: 200px;
}
.card1
{
   color: white;
   font-size: medium;
}
.card2
{
    color: white;
    font-size: medium;
}
.card3
{
    color: white;
    font-size: medium;
}
